TELEGRAM__BOTTOKEN=replace-me
DATABASE__CONNECTIONSTRING=Host=postgres;Port=5432;Database=almaty_lis_polling_bot;Username=postgres;Password=postgres
BOT__APPLICATIONTIMEZONE=Asia/Almaty
BOT__MAINADMINUSERID=0
BOT__TARGETCHATID=0
BOT__TARGETCHANNELID=0
BOT__DEFAULTPOLLSTOPTIME=21:00:00
BOT__DEFAULTVENUE="Tamos Education", Абиша Кекилбайулы, 129/4
CHGKAPI__BASEURL=https://api.rating.chgk.info/
